<!DOCTYPE html>
<html>
<head>

<style type="text/css">

        body {
            font-family: sans-serif ;
            font-size:12px;
        }

        .titulo {
            font-size:12px;
            text-decoration: underline;
            text-align: center;
        }

        .texto {
            font-size:12px;
            font-weight: normal;
            text-align: left;
        }

        .tabela
        {
            border:1px solid #E3E3E3;
            text-align: left;
        }

</style>

</head>
<body>
        <table class="tabela">
         <thead>
            <tr>
                <th>
                        <a href="http://177.101.149.118/prjwebch/public/home"><img src="http://177.101.149.118/prjwebch/public/images/clients/logo_sigma3.png" width="135" height="80"></a>
                </th>
                <th>
                        <span class="titulo">Canais de Suporte</span><br/><br/>
                        <span class="texto"><b>Fone :  </b>(41) 3343 7476</span><br/>
                        <span class="texto"><b>Skype : </b>suporte_sigma3</span><br/>
                        <span class="texto"><b>E-mail : </b>suporte@sigma3sistemas.com.br</span>
                </th>
            </tr>
         </thead>
        </table>
</body>
</html>